# Hier kommt muss nur die IP angepasst werden.
HA_URL=http://DEINE_IP:8123
# Hier muss das Authentifizierungstoken eingetragen werden, welches in Home Assistant unter "Benutzerprofil" generiert werden kann.
HA_TOKEN=HIER_TOKEN_EINTRAGEN

# Parameter für die PVA Prognose
lat = 47.1660
lon = 8.3969
dec = 35
az = -12
kwp = 6.64