# Hier kommt muss nur die IP angepasst werden.
HA_URL=http://DEINE_IP:8123/api/states/

# Hier muss das Authentifizierungstoken eingetragen werden, welches in Home Assistant unter "Benutzerprofil" generiert werden kann.
HA_TOKEN=HIER_TOKEN_EINTRAGEN